.top-div {
  background: linear-gradient(#FC4A1A, #FF8008);
  padding: 30px;
  color: white;
}

.privacypolicy-title {
  margin-top: 70px;
}

.main-content {
  margin: 0 50px;
  font-size: 20px;
  line-height: 50px;
  margin-bottom: 240px;
}

/* Mobile Styles */
@media (max-width: 952px) {
  .privacypolicy-title {
    margin-top: 0;
  }

  .main-content {
    margin-bottom: 0;
  }
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #e0e0e0;
  }

  .top-div {
    background: linear-gradient(#a53d00, #cc5200);
  }
}
